<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.css">
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
<#include "header.html"/>

<!-- //navigation -->
<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Products</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!--- products --->
<div class="products">
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="categories">
                <h2>分类</h2>
                <ul class="cate">
                    <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>食品</a></li>
                    <ul>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>豆类</a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>杏仁类</a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>腰果类</a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>干果类</a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>香料</a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>米类</a></li>
                    </ul>
                    <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>家居</a></li>
                    <ul>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>炊具</a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>厨房用品</a></li>
                    </ul>
                    <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>婴儿</a></li>
                    <ul>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>奶粉</a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>玩具</a></li>
                        <li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>衣服</a></li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="col-md-8 products-right">
            <div class="products-right-grid">
                <div class="products-right-grids">
                    <div class="sorting">
                        <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
                            <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>默认排序</option>
                            <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>按热度排序</option>
                            <option value="null"><i class="fa fa-arrow-right" aria-hidden="true"></i>按照价格排序</option>
                        </select>
                    </div>
                    <div class="sorting-left">

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="agile_top_brands_grids">

                <#list foodList as food>
                    <div class="col-md-4 top_brand_left">
                        <div class="hover14 column">
                            <div class="agile_top_brand_left_grid">
                                <div class="agile_top_brand_left_grid_pos">
                                    <img src="images/offer.png" alt=" " class="img-responsive">
                                </div>
                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <a href="/single?id=${food.id}"><img title=" " alt=" "
                                                                                     src=${food.cover}></a>
                                                <p>${food.goods_name}</p>
                                                <h4>$${food.price} <span>$${food.origin_price}</span></h4>
                                            </div>
                                            <div class="snipcart-details top_brand_home_details">
                                                <form action="#" method="post">
                                                    <fieldset>
                                                        <input type="hidden" name="cmd" value="_cart">
                                                        <input type="hidden" name="add" value="1">
                                                        <input type="hidden" name="business" value=" ">
                                                        <input type="hidden" name="item_name"
                                                               value="Fortune Sunflower Oil">
                                                        <input type="hidden" name="amount" value="35.99">
                                                        <input type="hidden" name="discount_amount" value="1.00">
                                                        <input type="hidden" name="currency_code" value="USD">
                                                        <input type="hidden" name="return" value=" ">
                                                        <input type="hidden" name="cancel_return" value=" ">
                                                        <input type="submit" name="submit" value="添加到购物车"
                                                               class="button">
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </#list>

                <div class="clearfix"></div>
            </div>
            <nav class="numbering">
                <ul class="pagination paging">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="/product?page=1&size=9">1</a></li>
                    <li><a href="/product?page=2&size=9">2</a></li>
                    <li><a href="/product?page=3&size=9">3</a></li>
                    <li><a href="/product?page=4&size=9">4</a></li>
                    <li><a href="/product?page=5&size=9">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--- products --->
<#include "footer.html"/>

<!--显示第几个-->
<script type="text/javascript">
    $(document).ready(function () {
        var lis = $(".paging").children();
        var page = <#if page??>
        ${page}
        <#else>1
        </#if>
        $(lis[page]).addClass("active");
    })
</script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- top-header and slider -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.min.js"></script>
<script src="js/common.js"></script>


<!-- main slider-banner -->
<script src="js/skdslider.min.js"></script>
<link href="css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#demo1').skdslider({
            'delay': 5000,
            'animationSpeed': 2000,
            'showNextPrev': true,
            'showPlayButton': true,
            'autoSlide': true,
            'animationType': 'fading'
        });

        jQuery('#responsive').change(function () {
            $('#responsive_wrapper').width(jQuery(this).val());
        });

    });
</script>
<!-- //main slider-banner -->

</body>
</html>